.Tero{
    height: 100vh;
    background-color: liner-gradient(180deg,white,black 60%);
    display: flex;
}
.Tero-left{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 180px;
    
}
.Tero-left h2{
    color:black;
    font-size: 26px;
    font-weight: 600;
}
.Tero-left p{
    color: black;
    font-size:100px;
    font-weight: 700;
}
.foot-foot-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.foot-foot-icon img{
    width: 105px;
}