.product{
    display: flex;
    margin: 0px 17px;
}
.product-left{
    display: flex;
    gap: 17px;
}
.product-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-img-list img{
    height: 160px;
}
.product-main-img{
    width: 586px;
    height: 700px;
}
.product-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.product-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product-right-stars{
   display: flex;
   align-items: center;
   margin-top: 13px;
   gap: 5px;
   color: #1c1c1c;
   font-size: 16px;
}
.product-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product-right-prices-old{
    color: #818181;
    text-decoration: line-through;
}
.product-right-prices-new{
    color: #ff4141;
}
.product-right-size h1{
    margin-top: 55px;
    color: #656665;
    font-size: 20px;
    font-weight: 600;

}
.product-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb; 
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.product-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color:white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.product-right-cate{
    margin: 10px;
}
.product-right-cate span{
    font-weight: 600;
}
